#video{
width:100%;
height: 500px;
border: none;
}
.campus{
    border: 1px solid lightgrey;
}
.campus img{
    width: 100%;
}
.campus h5 , campus p{
    margin: 20px
}
.novo{
    margin-bottom: 20px;
}
#contato iframe{
    width: 100%;
}